.product-home-new{
    height: 200px !important;
}

.news-home-img{
    height: 300px !important;
}

.product-h200{
    height: 200px !important;
}

.img-h65{
    height: 65px !important;
}

.cms_banner{
    width: 100% !important;

}
.cms_banner img{
    width: 100%!important;
    height: 150px !important;
}

footer li {
    line-height: 15px;
}